.btn {
    padding: .3rem .8rem;
    border-radius: .2rem;
    border: none;
    color: orange;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover{
    color: white;
    background-color: orange;
}