.userform {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.userform__formgroup {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: top;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.userform__label {
    margin-right: .5rem;
    font-weight: bold;
}